.profile-container {
  display: flex;
  background-color: #fafafa;
  height: 100vh;
}

.leftbar-container {
  background-color: #f5fafc;
  padding: 13.12rem 8.32rem;

  .leftbar-text {
    display: flex;
    align-items: center;
    gap: 1.28rem;
    font-size: 1.92rem;
    line-height: 1;
    margin-top: -6.4rem;
    margin-bottom: 6.4rem;
  }

  .icon {
    position: absolute;
    bottom: 40%;
    right: 40%;
    z-index: 1;
    color: #fff;
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .profile-pic {
    background-image: url("../../assets/Ellipse.png");
    width: 16rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0rem 6.4rem;
    position: relative;
  }

  .profile-text {
    display: flex;
    justify-content: space-between;
    margin-top: 3.84rem;

    .profile-name {
      font-size: 1.76rem;
      color: #515974;
      font-weight: 200;
    }
  }
  .profile-paragraph {
    line-height: 2;
    color: #9796a5;
    margin-top: 0.64rem;
    width: 33.6rem;
    font-size: 1.28rem;

    h4 {
      font-weight: 400;
      color: #242837;
      font-size: 1.92rem;
    }
  }

  .paragraph-primary {
    font-size: 1.6rem;
    color: #242837;
    width: 28.8rem;
    margin-top: 1.28rem;
    line-height: 1.4;
  }
}

.rightbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.8rem 16rem;
  font-size: 3.2rem;
  color: #333e5b;

  .rightbar-head {
    margin-top: 3.2rem;
    font-size: 3rem;
  }

  .rightbar-text {
    color: #8f94a3;
    font-size: 2.24rem;
    margin-top: 1.6rem;
    text-align: center;
    line-height: 1.4;
  }
}
