.rightbar-container {
  display: flex;
  flex: 1;
  flex: 1 1 76rem;
  height: 100%;
  gap: 2rem;
  padding: 3rem;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;

  font-size: 3.2rem;
  color: #333e5b;

  .rightbar-head {
    // margin-top: 3.2rem;
    font-size: 3rem;
  }

  .rightbar-text {
    color: #8f94a3;
    font-size: 2rem;
    margin-top: 1.6rem;
    text-align: center;
    line-height: 1.4;
  }

  .rightbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8f94a3;
    margin-top: 7rem;
    gap: 1rem;
  }
}
