@use "../../../../Styles/variables.scss" as varr;
.search__nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  height: 7rem;
  padding: 1.6rem 2.4rem;
  background-color: varr.$bg_header;

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
