@use "../../../Styles//variables.scss" as var;

.main__content {
  flex: 1;
  flex: 1 1 76rem;
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  background-color: var.$bg;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}
