@use "../../../Styles/variables.scss" as varr;
.search__message {
  flex: 1;
  flex: 1 1 40rem;
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  overflow: hidden;
}

.show__search {
  display: none;
}

.msearch__input {
  background-color: varr.$bg_header;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  input {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    background: inherit;
    padding: 1rem;
  }
}

.search__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.search_icon {
  color: varr.$bg-wa;
}
