@use "../../../Styles/variables.scss" as varr;

.dropDownP {
  background: #dcefed;
  background: varr.$bg_header;
  position: absolute;
  top: 8%;
  left: 50%;
  font-size: 1.5rem;
  color: #444;

  .drop__list__P {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 2rem;
    // padding: 2rem 3rem;
    padding: 1rem 1.5rem;

    li {
      list-style: none;
      cursor: pointer;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    li:hover,
    li:active {
      background-color: varr.$bg-wa;
    }
  }
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
}

.hideP {
  animation-name: dropdownP;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes dropdownP {
    0% {
      //   top: 8%;
      opacity: 1;
    }
    100% {
      //   top: -200px;
      opacity: 0;
    }
  }
}

.dropP {
  animation-name: showP;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes showP {
    0% {
      //   top: -200px;
      opacity: 0;
    }
    100% {
      //   top: 8%;
      opacity: 1;
    }
  }
}
