@use "../../../Styles//variables.scss" as varr;

.nav {
  ul {
    display: flex;
    justify-content: space-around;
    gap: 4rem;

    li {
      list-style: none;
    }
  }
}

i {
  font-size: 2.5rem;
  color: #130f26;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

i:hover {
  color: varr.$bg-wa;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
