.friends__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transition: all 1s;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.friends__data:hover,
.friends__data:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.profile__img {
  // height: 100%;
  width: 5.7rem;
  height: 5.7rem;
  object-fit: cover;

  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.profile__Header {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 6rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-weight: 300;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 0.6rem;
  margin-right: 0.6rem;

  i {
    font-size: 2rem;
  }
}
