@use "../../Styles/variables.scss" as varr;

.ffgButtons {
  background-color: white;
  //background-color: varr.$bg-wa;
  height: 5rem;
  display: flex;
  margin: 0 2rem 2rem 2rem;
  box-shadow: 0px 0px 2px 0px rgba(18, 140, 126, 0.85);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(18, 140, 126, 0.85);
  -moz-box-shadow: 0px 0px 2px 0px rgba(18, 140, 126, 0.85);
  overflow: hidden;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;

  button {
    width: 100%;
    border: none;
    background: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
  }

  button:hover,
  button:active {
    background-color: varr.$bg-wa;
  }
}

.container__list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 54rem;
}
