@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&family=Rubik:wght@400;500;600;700&display=swap");

:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: black;
}
.darkMode {
  --primary-color: white;
  --secondary-color: #344d58;
  --tertiary-color: #000000;
}
body {
  font-family: "Lora", serif;
  background-color: var(--secondary-color);
}

.box-container {
  width: 473.83px;
  height: 590.37px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 6.4rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
  cursor: pointer;

  h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
  }

  p {
    // height: 19px;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 400;
    color: #828282;
  }
}
.logo-head {
  display: flex;
  color: rgb(13, 199, 13);
  gap: 0.8rem;
  font-size: 2.72rem;
  align-items: baseline;
}

.logo-head h4 {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-transform: lowercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  button {
    background-color: rgb(13, 199, 13);
    height: 4rem;
    border: none;
    color: white;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }
  button:hover {
    background-color: green;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
}

.format-box {
  position: relative;
  display: flex;
  align-items: center;
  // gap: 4rem;

  input {
    height: 4.8rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.8rem;
    padding: 0.8rem;
    box-sizing: border-box;
    padding-left: 3rem;
    outline: #369cdc;
    width: 100%;
    background-color: transparent;
    color: var(--primary-color);
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }

  input:hover {
    border: 1.4px solid #369cdc;
  }

  input:focus {
    border: 1px solid #369cdc;
  }
}

.social-logins {
  display: flex;
  gap: 3.2rem;
  color: #828282;
  font-size: 1.8rem;
  margin: 0 auto;
  justify-content: center;

  // align-items: center;
}

.social-circle {
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid #828282;
  border-radius: 50%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-circle:hover > .fb,
.social-circle:active > .fb {
  color: #1877f2;
}

.social-circle:hover > .google,
.social-circle:active > .google {
  color: #db4437;
}

.social-circle:hover > .github,
.social-circle:active > .github {
  color: #171515;
}

.social-circle:hover > .twitter,
.social-circle:active > .twitter {
  color: #1da1f2;
}

.social-circle div {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.social-circle:hover {
  color: #444444;
}
a {
  text-decoration: none;
  color: #369cdc;
}

.email-icon {
  position: absolute;
  color: #bdbdbd;
  font-size: 2.4rem;
  left: 0.8rem;
  margin-left: -0.5rem;
}

.lock-pass {
  position: absolute;
  color: #bdbdbd;
  font-size: 2.4rem;
  left: 0.8rem;
  margin-left: -0.5rem;
}

.sun {
  // color: var(--sun-color);
  height: 3.2rem;
  width: auto;
  position: fixed;
  top: 1.6rem;
  right: 3.2rem;
}
.sun:hover {
  cursor: pointer;
}
.fillsun {
  color: rgb(194, 194, 75);
}
.fillmoon {
  color: #252329;
}

.error-class {
  color: red;
  position: absolute;
  top: 12.8rem;
}

// // #435A64
