@use "../../../Styles/variables.scss" as varr;

.header {
  background-color: varr.$bg_header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.8rem;
  padding: 1.6rem 2.4rem;

  img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
  }

  .profile__info {
    display: flex;
    gap: 1.5rem;

    .name__status {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   padding: 0.2rem 0;

      h2 {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1px;
      }

      p {
        font-size: 1.2rem;
        letter-spacing: 0.5px;

        span {
          height: 1rem;
          width: 1rem;
          background-color: varr.$bg-wa;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }
}
