@use "./Styles/variables.scss" as varr;

.App {
  display: flex;
  height: 70.8rem;
  height: 100vh;
  overflow: hidden;
  border-radius: 2rem;
  font-family: sans-serif;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.sidebar {
  flex: 0 0.83 40rem;
  background-color: hotpink;
  background-color: varr.$bg_header;
  // background-color: varr.$bg_message;
  // background-color: white;
}

