@use "./Styles/variables.scss" as varr;

.App {
  display: flex;
  height: 70.8rem;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.sidebar {
  flex: 0 0.83 40rem;
  background-color: hotpink;
  background-color: varr.$bg_header;
  position: relative;
  // background-color: varr.$bg_message;
  // background-color: white;
}

i {
  font-size: 2.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  color: #888;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

i:hover,
i:active {
  background: #dcefed;
  color: varr.$bg-wa;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
