.media {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  padding: 10px 20px;
  font-size: 2rem;
  margin-top: 10px;

  .media-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .media-heading {
    color: rgb(0, 150, 136);
    font-size: 1.5rem;
    text-align: center;
  }

  // .media-icon {
  //   color: rgb(145, 145, 145);
  // }

  .media-types {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    cursor: pointer;
  }

  .profile {
    width: 40%;
  }
}
